@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.book-list {
    display: flex;
    align-items: center;
    gap: 2em;
}

.book-card {
    position: relative;
    width: 380px;
    height: 115px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-shrink: 0;
    color: #FFF;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.overflow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.card-background {
    position: absolute;
    transform: scale(1.2);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: top left;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.book-img img {
    border-radius: 10px;
    width: 95px;
}

.book-title {
    font-weight: 900;
}

.book-details {
    backdrop-filter: blur(8px);
}

.book-details li {
    padding: 0 2px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 1em;
    display: inline-block;
    list-style-type: none;
}

form {
    display: none;
}